@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pixelify Sans", sans-serif;
}

.font-pixel {
  font-family: "Pixelify Sans", sans-serif;
}

.ts-font-main {
  font-family: 'Playfair Display', serif;
}